<%- include('partials/header', { title: 'Page de connexion' , description: "Page de connexion du site SEO Sympa." ,
    page: 'dashboard' , description: "Tableau de bord d'un utilisateur inscrit sur le site SEO-Sympa" }) %>
    
            <main class="accessibility-main">
                <h1> Mon profil </h1>
                <section class="declaration-section">
                    <h2>Bienvenue <%= profile.firstname %> !</h2>
                    
                    <div class="profil-info">
                        <h2>
                            <%= profile.firstname %>
                                <%= profile.lastname %>

                        </h2>



                    </div>

                    <div>
                        <h3>localisation</h3>
                        <p>
                            <%= profile.address %>
                        </p>
                        <p>
                            <%= profile.city %>
                        </p>
                        <h3>Code postal</h3>
                        <p>
                            <%= profile.zipcode %>
                        </p>

                    </div>

                    <div>
                        <h3>Nom de la société</h3>
                        <p>
                            <%= profile.display_name %>
                        </p>
                    </div>

                    <div>
                        <h3>Numéro d'identification de l'entreprise</h3>
                        <p>
                            <%= profile.company_identification_system %>
                        </p>
                    </div>
                    <div>
                        <h3>Description</h3>
                        <p>
                            <%= profile.description %>
                        </p>
                    </div>
                    <a href="/dashboard-edite">
                        <button class="button__append">modifier votre profil </button>
                    </a>
                    <form action="/delete-account-confirm" method="GET">
                        <button class="button__append" type="submit">Supprimer mon compte</button>
                    </form>

                </section>
            </main>
            <%- include('partials/footer') %>