<%- include('partials/header', { title: 'Page de connexion' ,
    description: "Tableau de bord d'un utilisateur inscrit sur le site SEO-Sympa" , page: 'dashboard' }) %>

    <main class="accessibility-main">
        <h1> Mon profil </h1>

        <section class="declaration-section">
            <div class="profil-info">
                <h2>
                    <%= profile.firstname %>
                        <%= profile.lastname %>

                </h2>

            </div>

            <div>
                <h3>localisation</h3>
                <p>
                    <%= profile.address %>
                </p>
                <p>
                    <%= profile.city %>
                </p>
                <h3>Code postal</h3>
                <p>
                    <%= profile.zipcode %>
                </p>

            </div>

            <div>
                <h3>Nom de la société</h3>
                <p>
                    <%= profile.display_name %>
                </p>
            </div>

            <div>
                <h3>Numéro d'identification de l'entreprise</h3>
                <p>
                    <%= profile.company_identification_system %>
                </p>
            </div>
            <div>
                <h3>Description</h3>
                <p>
                    <%= profile.description %>
                </p>
            </div>
            <a href="/dashboard-edite">
                <button class="button__append">modifier votre profil </button>
            </a>
            <form action="/delete-account-confirm" method="GET">
                <button class="button__append" type="submit">Supprimer mon compte</button>
            </form>

        </section>

        <section>
            <h2>Mes relations</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nom d'affichage</th>
                        <th>Date de la demande 📅</th>
                        <!-- <th>Date d'acceptation</th>
                    <th>Date de refus</th> -->
                        <th>Statut de la relation</th>
                        <th>Actions</th>
                </thead>
                <tbody>
                    </tr>
                    <% relations.forEach(relation=> {

                        const senderProfile = relation.sender.Profile;
                        const recipientProfile = relation.recipient.Profile;
                        const isSender = senderProfile.dataValues.user_id === locals.userId;

                        // Formatage de la date si elle existe
                        let formattedDate = 'Date non disponible';
                        if (relation.dataValues.created_at) {
                        const date = new Date(relation.dataValues.created_at);
                        formattedDate = new Intl.DateTimeFormat('fr-FR', { dateStyle: 'long' }).format(date);
                        }
                        %>
                        <tr>
                            <td>
                                <% if (isSender) { %>
                                    <a href="/profil/<%= recipientProfile.dataValues.user_id %>">
                                        <%= recipientProfile.dataValues.display_name %>
                                    </a>
                                    <% } else { %>
                                        <a href="/profil/<%= senderProfile.dataValues.user_id %>">
                                            <%= senderProfile.dataValues.display_name %>
                                        </a>
                                        <% } %>
                            </td>
                            <td>
                                <%= formattedDate %>
                            </td>
                            <td>

                                <% if (relation.dataValues.status==='relation acceptée' ) { %>
                                    <%= relation.dataValues.status %> le <%= relation.dataValues.approval_date %>
                                            <% } else if (relation.dataValues.status==='relation refusée' ) { %>
                                                <%= relation.dataValues.status %> le <%=
                                                        relation.dataValues.removal_date %>
                                                        <% } else { %>
                                                            <%= relation.dataValues.status %>
                                                                <% } %>
                            </td>
                            <td>
                                <% if (isSender && relation.dataValues.status==='en attente de réponse' ) { %>
                                    <form method="POST" action="/relation/supprimer/<%= relation.id_relation %>">
                                        <input type="hidden" name="id" value="<%= relation.id %>">
                                        <button>❌ pour supprimer cette demande</button>
                                    </form>
                                    <% } else if (!isSender && relation.dataValues.status==='en attente de réponse' ) {
                                        %>
                                        <form method="POST" action="/relation/accepter/<%= relation.id_relation %>">
                                            <input type="hidden" name="id" value="<%= relation.id %>">
                                            <button>✅ pour accepter cette demande</button>
                                        </form>
                                        <form method="POST" action="/relation/refuser/<%= relation.id_relation %>">
                                            <input type="hidden" name="id" value="<%= relation.id %>">
                                            <button type="submit">❌ pour refuser cette demande</button>
                                        </form>
                                        <% } else { %>
                                            <form method="POST"
                                                action="/relation/supprimer/<%= relation.id_relation %>">
                                                <input type="hidden" name="id" value="<%= relation.id %>">
                                                <button>❌ pour supprimer ce contact</button>
                                            </form>
                                            <% } %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </section>
    </main>