<%- include('partials/header', { title: 'Page de connexion' , description: "Page de connexion du site SEO Sympa." ,
    page: 'dashboard' , description: "Tableau de bord d'un utilisateur inscrit sur le site SEO-Sympa" }) %>

    <main class="accessibility-main">
        <h1> Mon profil </h1>
        <section class="declaration-section">
            <img src="https://via.placeholder.com/150" alt="Photo du profil" class="profil-photo">
            <div class="profil-info">
                <h2>
                    <%= profile.firstname %>
                        <%= profile.lastname %>

                </h2>



            </div>

            <div>
                <h3>localisation</h3>
                <p>
                    <%= profile.address %>
                </p>
                <p>
                    <%= profile.city %>
                </p>
                <h3>Code postal</h3>
                <p>
                    <%= profile.zipcode %>
                </p>

            </div>

            <div>
                <h3>Nom de la société</h3>
                <p>
                    <%= profile.display_name %>
                </p>
            </div>

            <div>
                <h3>Numéro d'identification de l'entreprise</h3>
                <p>
                    <%= profile.company_identification_system %>
                </p>
            </div>
            <div>
                <h3>Description</h3>
                <p>
                    <%= profile.description %>
                </p>
            </div>
            <a href="/dashboard-edite">
                <button class="button__append">modifier votre profil </button>
            </a>
            <form action="/delete-account-confirm" method="GET">
                <button class="button__append" type="submit">Supprimer mon compte</button>
            </form>

        </section>

        <!-- // ajout 15/7/25 -->
        <section>
            <h2>Mes relations</h2>
            <table>
                <tr>
                    <th>Nom d'affichage</th>
                    <th>Date de la demande</th>
                    <th>Statut de la relation</th>
                    <th>Actions</th>
                </tr>
                <% relations.forEach(relation=> { 
                    console.log('--------------------------------------- relation', relation);
                    console.log('****************************profile sender : ', relation.sender); // contient une instance de User
                    console.log('****************************profile recipient', relation.recipient); // contient une instance de User
                    // essayer de voir ce qu'il y a dans Profile (qui semble contenu dans relation.sender / relation.recipient)
                    console.log('[DASHBOARD] profil du sender : ', relation.sender.Profile);
                    const senderProfile = relation.sender.Profile;
                    console.log('[DASHBOARD] profil du recipient : ', relation.recipient.Profile);
                    const recipientProfile = relation.recipient.Profile;
                    console.log('[DASHBOARD] profil du sender - firstname :', senderProfile.dataValues.firstname);
                    console.log('[DASHBOARD] profil du recipient - firstname :', recipientProfile.dataValues.firstname);
                    const isSender = senderProfile.dataValues.user_id === locals.userId;
                    
                    %>
                    <tr>
                        <td> 
                            <% /* ici, on est dans le cas où on doit afficher le destinaire si on est à l'origine de la demande, ou l'expéditeur si on est le destinataire 
                            Si senderProfile.dataValues.user_id = mon id à moi (res.locals.userId) => j'affiche recipientProfile.dataValues.display_name 
                            Sinon j'affiche senderProfile.dataValues.display_name */ %>
                            <% if (senderProfile.dataValues.user_id === locals.userId) { %>
                                <%= recipientProfile.dataValues.display_name %>
                            <% } else { %>
                                <%= senderProfile.dataValues.display_name %>
                            <% } %>
                        </td>
                        <td>
                            <%= relation.dataValues.created_at %>
                        </td>
                        <td>
                            <%= relation.dataValues.status %>
                        </td>
                        <td>
                            <% if (isSender && relation.dataValues.status ==='en attente de réponse' ) { %>
                                <form method="POST" action="/relation/supprimer">
                                    <input type="hidden" name="id" value="<%= relation.id %>">
                                    <button>❌ pour supprimer ce contact</button>
                                </form>
                                <% } else if (!isSender && relation.dataValues.status ==='en attente de réponse' ) { %>
                                    <form method="POST" action="/relation/accepter">
                                        <input type="hidden" name="id" value="<%= relation.id %>">
                                        <button>✅ pour accepter ce contact</button>
                                    </form>
                                    <form method="POST" action="/relation/refuser">
                                        <input type="hidden" name="id" value="<%= relation.id %>">
                                        <button>❌ pour refuser ce contact</button>
                                    </form>
                                    <% } else { %>
                                        <form method="POST" action="/relation/supprimer">
                                            <input type="hidden" name="id" value="<%= relation.id %>">
                                            <button>❌ pour supprimer ce contact</button>
                                        </form>
                                        <% } %>
                        </td>
                    </tr>
                    <% }); %>
            </table>
        </section>
        <!-- fin ajout 15/7 -->
    </main>
    <%- include('partials/footer') %>