<%- include('partials/header', { title: 'Page profil public de ' + profile.display_name,
  description: 'Découvrez le profil public de ' + profile.display_name, bodyClass:'public-profile-page' }) %>

  <!-- ici c'est la page profil public d'un expert en détail (lien : /profil/:id) -->

  <main class="public-profile-main">
    <section class="card">
      <!-- <div class="card__image">
        <img src="/assets/img/profile-img.png" alt="Portrait de Marie Dupont" />
      </div> -->
      <div class="card__info">
        <h1 class="card__name">
          <%= profile.firstname %>
        </h1>
        <h1 class="card__name">
          <%= profile.lastname %>
        </h1>
        <p class="card__location">
          <%= profile.address %>
        </p>
        <p class="card__location">
          <%= profile.city %>
        </p>
        <p class="card__location">
          <%= profile.zipcode %>
        </p>
        <p class="card__location">
          <%= profile.company_identification_system %>
        </p>
        <p class="card__bio">
          <%= profile.description %>
        </p>
      </div>


      <!-- penser à écrire que pour faire une demande de connexion, l'utilisateur doit d'abord être inscrit et connecté sur seo sympa -->

      <!-- si l'utilisateur connecté est le même que l'utilisateur dont le profil est visité, alors demande de connexion impossible  -->

      <!-- // ici essai pour séparer les if -->

      <% if (!session?.userId) { %>

        <p>Vous devez être connecté pour envoyer une demande de connexion.</p>

        <% } else if (profile.id_profile ===session.userId) { %>

          <p>Vous ne pouvez pas demander à vous connecter à votre propre réseau.</p>

          <% } else { %>
            <!-- L'utilisateur est connecté et regarde un autre profil -->
            <% if (!relation || relation.length===0) { %>
              <form action="/relation/demander" method="POST" class="relation-form">
                <button type="submit" class="button cardcontact">Vous souhaitez rejoindre mon réseau ?</button>
              </form>

              <% } else if (relation.status==='accepted' ) { %>
                <p>Vous êtes déjà en relation avec ce profil.</p>
                <p class="cardinfo">
                  <%= user.email %>
                </p>

                <% } else if (relation.status==='pending' ) { %>
                  <p>Demande de connexion déjà en attente, merci de patienter pour la réponse.</p>

                  <% } else if (relation.status==='rejected' ) { %>
                    <form action="/relation/demander" method="POST" class="relation-form">
                      <button type="submit" class="button cardcontact">Vous souhaitez rejoindre mon réseau ?</button>
                    </form>
                    <% } %>
                      <% } %>



    </section>
  </main>

  <%- include('partials/footer') %>