<%- include('partials/header', { title: 'Page profil public de ' + profile.display_name,
  description: 'Découvrez le profil public de ' + profile.display_name, bodyClass:'public-profile-page' }) %>

  <!-- ici c'est la page profil public d'un expert en détail (lien : /profil/:id) -->

  <main class="public-profile-main">
    <section class="card">
      <!-- <div class="card__image">
        <img src="/assets/img/profile-img.png" alt="Portrait de Marie Dupont" />
      </div> -->
      <div class="card__info">
        <h1 class="card__name">
          <%= profile.firstname %>
        </h1>
        <h1 class="card__name">
          <%= profile.lastname %>
        </h1>
        <p class="card__location">
          <%= profile.address %>
        </p>
        <p class="card__location">
          <%= profile.city %>
        </p>
        <p class="card__location">
          <%= profile.zipcode %>
        </p>
        <p class="card__location">
          <%= profile.company_identification_system %>
        </p>
        <p class="card__bio">
          <%= profile.description %>
        </p>
      </div>


      <!-- penser à écrire que pour faire une demande de connexion, l'utilisateur doit d'abord être inscrit et connecté sur seo sympa -->

      <!-- si l'utilisateur connecté est le même que l'utilisateur dont le profil est visité, alors demande de connexion impossible  -->

      <!-- // ici essai pour séparer les if -->

      <% if (!session?.userId) { %>

        <p> ► ► ► ► Vous devez être connecté pour envoyer une demande de connexion.</p>
<!-- // ligne 46 voir pour débuguer, erreur sur nav = session is not defined -->
        <% } else if (profile.id_profile === session.userId) { %>

          <p> ► ► ► ► Vous ne pouvez pas demander à vous connecter à votre propre réseau.</p>

          <% } else { %>
            <!-- L'utilisateur est connecté et regarde un autre profil -->
             <!-- relations existe toujours et est toujours un tableau. Il sera vide s'il n'y a pas de relation entre les deux utilisateurs -->
            <% if (relations.length === 0) { %> 
              <form action="/relation/demander/<%= profile.id_profile %>" method="POST" class="relation-form">
                <button type="submit" class="button cardcontact">Vous souhaitez rejoindre mon réseau ? 
                 </button>
                </form>

            <% } 
              // ici, je force la récupération du premier élément de relations, car il n'est censé y en avoir qu'un seul                
              else if (relations[0].status === 'relation refusée' || relations[0].status==='relation supprimée' ) { %>
                <p>► ► ► ► Cette demande de relation a été refusée ou supprimée. Vous pouvez renvoyer une demande, à vos risques et périls !</p>
                <form action="/relation/demander/<%= profile.id_profile %>" method="POST" class="relation-form">
                  <button type="submit" class="button cardcontact">Vous souhaitez rejoindre mon réseau ?</button>
                </form>

            <% }
              else if (relations[0].status === 'relation acceptée' ) { %>
                <p> ► ► ► ► Vous êtes en relation avec cette personne.</p>
                <% /* Mettre le mail dans une balise a href pour que l'utilisateur puisse cliquer dessus et envoyer un mail à l'expert (= mailto) */ %>
                <p class="cardinfo"> 
                   <a href="mailto: <%= profile.User.dataValues.email %>"> <%= profile.User.dataValues.email %></a>
                </p>

            <% } else if (relations[0].status === 'en attente de réponse' ) { %>
              <p> ► ► ► ► Demande de connexion en attente, merci de patienter pour la réponse.</p>

              <% } else { %>
                <p>Cas de fallback</p>
                <% } %>
          <% } %>



    </section>
    <!-- <script>
      function showLoader()
{ document.getElementById('wait').style.display = 'inline';

}    </script> -->

 <!-- <img id="wait"   src="/assets/img/wait.gif" alt=" image gif en attente" style="display: none; will-change: auto;"> -->
  </main>

  <%- include('partials/footer') %>